/* Custom Style-sheet for Grafreez bootstrap wireframes */
@import url('https://fonts.googleapis.com/css?family=Teko:700');
section {
	float: left;
	padding: 30px 0;
	width: 100%;
}
.splink{
	color:#781d46;
}
.splink:hover{
	color: #2aabd2;
}
.card-block {
	padding: 0.5rem 1.25rem;
}
i {
	float: left;
	margin-right: 10px;
	margin-top: 5px;
}
.card-title {
	margin-bottom: 7px;
}
.card {
	margin: 15px 0;
}
.card img {
	height: 250px;
	width: 100%;
}
.rating {
	float: left;
	margin-bottom: 20px;
	padding: 0 24%;
	text-align: center;
	width: 100%;
}
.rating i {
	float: left;
	font-size: 20px;
	margin: 0 3px 0 0;
	width: auto;
}
.card .price {
	font-weight: bold;
	font-size: 20px;
}
.oferta{
	background-image: url("../../images/sale-tag-png-20946.png");
	display: block;
	height: 80px;
	width: 80px;
	text-align: center;
	background-size: 80px;
	background-repeat: no-repeat;
	line-height: 73px;
	color: #fff;
	font-weight: bold;
	position: absolute;
}

.card .btn {
	margin-bottom: 20px;
}
.product-block {
	float: left;
	width: 100%;
	padding: 18px 0;
}
.ver{
	background: #1f5878;
	border: none;
}
.add-card{
	background: #e8553e;
	border: none;
}

.add-card:hover{
	background: #e8553e ;
}
.ver:hover{
	background: #206578;
}
/*.page-link:focus, .page-link:hover{
	background: #781d46;
	color: #fff;
}*/
.page-itemk .active{
	background: red;
	color: #fff;
}
.side-product {
	float: left;
	width: 100%;
	margin: 10px 0
}
.side-product .media {
	margin-top: 15px;
}


/*.page-link {
	position: relative;
	float: left;
	padding: .5rem .75rem;
	margin-left: -1px;
	color: #ffffff;
	text-decoration: none;
	background-color: #1f5878;
	border: 1px solid #ddd;
}*/
.side-product h5 {
	margin-bottom: 20px;
}
footer {
	background: #b3b2b1;
	color: #fff;
	float: left;
	width: 100%;
	padding: 50px 0
}
footer li a {
	color: #fff;
	float: left;
	padding-bottom: 15px;
	width: 100%
}
footer li a:hover {
	color: #000;
}
.navbar{
	background: #fa6c51;
	min-height: 80px;
}
.navbar-brand {
	padding: 0 15px;
	height: 80px;
	line-height: 80px;
	font-size: 28px;
	color: #fff;
}
.navbar-brand:hover{
	color: #f7f7f9;
}
.navbar ul li a {
	color: #fff;
}
.navbar-toggle {
	/* (80px - button height 34px) / 2 = 23px */
	margin-top: 23px;
	padding: 9px 10px !important;

}
button.navbar-toggler .fa-bars{
	color: #f7f7f9;
}
.btn-movilex{
	background: #fa6c51;
	border: solid 1px #fa6c51;
	color: #fff;
}
.btn-orange{
	background: #fa6c51;
	border: solid 1px #fa6c51;
	color: #fff;
}
.btn-orange:hover{
	background: #fa8b71;
	border: solid 1px #fa6c51;
}
aside {
	float: left;
	width: 100%;
	padding: 20px 0
}

.cta-bg {
	background-image: url("../../images/navidad.png");
	color: #FFFFFF;
	text-align: center;
}

.cta-bg .btn {
	margin-top: 30px;
}
.copyright {
	min-height: 40px;
	background: #000;
	float: left;
	width: 100%
}
.copyright p {
	text-align: center;
	color: #FFF;
	padding: 10px 0;
	margin-bottom: 0px;
}
.bottom_ul {
	list-style-type: none;
	float: right;
	margin-bottom: 0px;
}
.bottom_ul li {
	float: left;
	line-height: 40px;
}
.bottom_ul li:after {
	content: "/";
	color: #FFF;
	margin-right: 8px;
	margin-left: 8px;
}
.bottom_ul li a {
	color: #FFF;
	font-size: 12px;
}
.category-products .panel {
	background-color: #FFFFFF;
	border: 0px;
	border-radius: 0px;
	box-shadow:none;
	margin-bottom: 0px;
}
.category-name{
	color: #e8553e;
	padding-bottom: 3px;
	border-bottom: 1px solid gray;
}
.category-products .panel-default .panel-heading {
	background-color: #FFFFFF;
	border: 0 none;
	color: #FFFFFF;
	padding: 5px 20px;
}

.panel-body ul li a {
	color: #696763;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
}
.category-products .panel-default .panel-heading .panel-title a {
	color: #696763;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
}

.panel-group .panel-heading + .panel-collapse .panel-body {
	border-top: 0 none;
}
.category-products .badge {
	background:none;
	border-radius: 10px;
	color: #696763;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	line-height: 1;
	min-width: 10px;
	padding: 3px 7px;
	text-align: center;
	vertical-align: baseline;
	white-space: nowrap;
	color: #ff5404;
}

.panel-body ul{
	padding-left: 20px;
}


.panel-body ul li a {
	color: #696763;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
}


/*form*/
.card-form {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid #eeeeee;
	border-radius: 0.25rem;

}
.card-form > hr {
	margin-right: 0;
	margin-left: 0; }
.card-form > .list-group:first-child .list-group-item:first-child {
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem; }
.card-form > .list-group:last-child .list-group-item:last-child {
	border-bottom-right-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem; }
.card-form .card-header-primary{
	background: linear-gradient(60deg, #e8553e, #fa8b71);
}
.card-form .card-title,.card-form .card-sub-title{
	color: #FFFFFF;
}
.card-form .form-register{
	padding: 5px;
}
.alert-danger {
	color: #fff;
	background-color: #ff7979;
	border: none;
}
.category-products .panel-default .panel-heading .panel-title {
	border-bottom: 1px solid #fa6c51;
	padding-bottom: 5px;
}

.panel-collapse .panel-body ul li{
	list-style: none;
	margin: 10px 0 0 10px;
}
.text-ju p{
	text-align: justify;
}

@media (min-width: 768px) {
	.navbar-nav > li > a {
		/* (80px - line-height of 27px) / 2 = 26.5px */
		padding-top: 26.5px;
		padding-bottom: 26.5px;
		line-height: 27px;
	}
	.navbar-nav{
		margin: 0;
	}
}

.page-link {
	position: relative;
	display: block;
	padding: 0.5rem 0.75rem;
	margin-left: -1px;
	line-height: 1.25;
	color: #ff5404;
	background-color: #ffffff;
	border: 1px solid #ff5404;
}
.page-item{
	margin: 2px;
}
.page-item.disabled .page-link {
	color: #868e96;
	pointer-events: none;
	cursor: auto;
	background-color: #f4f8ff;
	border-color: #718393;
}
.page-item.active .page-link {
	z-index: 1;
	color: #fff;
	background-color: #ff5404;
	border-color: #fa8b71;
}
.page-link:focus, .page-link:hover {
	color: #fff;
	text-decoration: none;
	background-color: #ff5404;
	border-color: #fa8b71;
}

.jumbotron-category{
	text-align: center;
	color: #f7f7f9;
	background-image: url("../../images/category.png");


}
.precio{
	color:#fa6c51;

	font-family: 'Teko', sans-serif;
	font-size: 30px;
	font-weight: 700;
	margin-right: 20px;
	margin-top: 0px;
}
.jumbotron-category h3{
	font-family: 'Teko', sans-serif;
	font-size:50px;

}

.color-orange{
	margin-top: 4px;
	color: #fa6c51;
	font-size: 20px;
	font-weight: bold;
}
.jumbotron-credit{
	background: #fa6c51;
	color: #f7f7f9;
	

}



